.result {
    margin-left: 10px;
    color: darkgreen;
    font-weight: 700;
    font-size: 1.2em;
}

.result.not-found {
    font-weight: normal;
    font-size: 1em;
    color: #d32f2f;
}

@media only screen and (max-width: 600px) {
    .result {
        display: block;
    }
}